.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;

    min-width: 148px;
    min-height: 35px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.2s;
}

.primary {
    background: var(--primary);
    border: 1px solid var(--white);
    color: var(--white);
}
.primary:hover {
    background: var(--primary-hover);
}
.ghost {
    background: none;
    border: 1px solid var(--gray-light);
    color: var(--black);
}
.ghost:hover {
    background: var(--primary);
    color: var(--white);
}
