.header {
	display: none;
}

@media screen and (max-width: 765px) {

	.header {
		display: grid;
		grid-template-columns: 1fr 40px;
		gap: 10px;
		padding: 15px 15px 0 15px;
		margin: 15px 15px 0 15px;
	}

	.mobileMenu {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #F5F6F8;
		overflow-y: scroll;
		padding: 25px 25px;
	}

	.menuClose {
		position: fixed;
		z-index: 11;
		top: 20px;
		right: 20px;
	}
}
