.tag {
	display: inline-block;

	box-sizing: border-box;
	margin-right: 5px;

	border-radius: 20px;
}

.s {
	min-height: 22px;
	padding: 5px 10px;

	text-align: center;

	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}

.m {
	min-height: 25px;

	text-align: center;

	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
}

.ghost {
	padding: 5px 12px;

	border: 1px solid var(--gray-light);
	background: var(--white);
}

.red {
	padding: 3px 8px;

	color: var(--white);
	background: #DE0000;

	line-height: 19px;
}

.gray {
	color: var(--white);
	background: var(--gray);

	line-height: 14px;
}

.green {
	padding: 5px 7px;

	color: var(--green);
	background: var(--green-light);

	line-height: 12px;
}

.primary {
	box-sizing: border-box;

	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;
}
