html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-dark: #A4A4A4;
	--gray: #B3C0D9;
	--gray-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #4E27EE;
	--red: #f8aca0;
	--red-light: #FFD9D6FF;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Roboto", sans-serif;
}
